
body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #e5e7eb;
  padding: 25px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
}

h2 {
  text-align: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.mensaje {
  margin-top: 10px;
  font-size: 14px;
  display: none;
}

.error { color: #dc2626; }
.warning { color: #f59e0b; }

